<div class="py-10 px-[5%]">
   <div class="flex justify-center sm:justify-between mb-2">
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
            <div class="w-full text-center sm:text-left">
                <span class="mb-3 font-bold text-lg py-10">VỀ CHÚNG TÔI</span>
                <ul class="flex sm:items-start items-center flex-col gap-3">
                    <li><a href="#">Di sản</a></li>
                    <li><a href="#">Công ty</a></li>
                    <li><a href="#">Cơ hội nghề nghiệp</a></li>
                </ul>
            </div>
            <div class="w-full text-center sm:text-left">
                <span class="mb-3 font-bold text-lg py-10">DỊCH VỤ KHÁCH HÀNG</span>
                <ul class="flex sm:items-start items-center flex-col gap-3">
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="w-full text-center sm:text-left">
                <span class="mb-3 font-bold text-lg py-10">LIÊN KẾT NHANH</span>
                <ul class="flex sm:items-start items-center flex-col gap-3">
                    <li><a href="#">Bộ đơn vị cửa hàng</a></li>
                    <li><a href="#">Dành cho đối tác</a></li>
                </ul>
            </div>
        </div>
        <div class="hidden sm:block">
            <img class="w-[20px] xl:w-[25px]" src="https://starbucks.phamvanhoang.com/view/images/wordmark_footer_tcm89-397.png" alt="">
        </div>
   </div>
   <div>
        <div class="flex justify-center gap-3">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 24 24">
                <path d="M12,2C6.477,2,2,6.477,2,12c0,5.013,3.693,9.153,8.505,9.876V14.65H8.031v-2.629h2.474v-1.749 c0-2.896,1.411-4.167,3.818-4.167c1.153,0,1.762,0.085,2.051,0.124v2.294h-1.642c-1.022,0-1.379,0.969-1.379,2.061v1.437h2.995 l-0.406,2.629h-2.588v7.247C18.235,21.236,22,17.062,22,12C22,6.477,17.523,2,12,2z"></path>
            </svg> </a>
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 24 24">
                <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
            </svg></a>
        </div>
        <div class=" flex-col sm:flex-row items-center justify-center hidden sm:flex">
            <span class="px-3 py-2"> Khả năng truy cập Web</span>
            <p class="hidden sm:inline-block">|</p>
            <span class="px-3 py-2"> Chính sách bảo mật thông tin</span>
            <p class="hidden sm:inline-block">|</p>
            <span class="px-3 py-2"> Điều khoản sử dụng</span>
            <p class="hidden sm:inline-block">|</p>
            <span class="px-3 py-2"> Sơ đồ trang web</span>
            <p class="hidden sm:inline-block">|</p>
            <span class="px-3 py-2"> tùy chọn Cookie</span>


        </div>
        <div class="text-center">
            © 2024 Starbucks Coffee Company. Mọi quyền được bảo lưu.
        </div>
   </div>
</div>  