<script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<main class="bg-white">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/4 mb-4 md:mb-0">
        <ul *ngIf="!isLoading" class="space-y-4 text-left mt-[60px]">
            <li><a routerLink="/menu" class="block text-lg font-bold">Tất cả</a></li>
            <li *ngFor="let c of listCategories" routerLink="/menu/{{c.slug}}"><a [class.text-[#00754A]]="slug===c.slug" [class.underline]="slug===c.slug" class="block font-bold text-lg" (click)="filterProductByCategory(c.slug)">{{c.name}}</a></li>
        </ul>
        <ul *ngIf="isLoading" class="space-y-4 text-left mt-[60px]">
            <li><a routerLink="/menu" class="block text-lg font-bold">Tất cả</a></li>
            <li><div class="inline-block animate-pulse bg-gray-200 w-[80px] h-[26px]"></div> </li>
            <li><div class="inline-block animate-pulse bg-gray-200 w-[60px] h-[26px]"></div> </li>
            <li><div class="inline-block animate-pulse bg-gray-200 w-[120px] h-[26px]"></div> </li>
        </ul>

    </div>

    <div class="w-full mt-[50px] mb-[40px] p-2">
        <h2 *ngIf="!isLoading" class="text-2xl font-bold mb-4">{{category_name}}</h2>
        <div *ngIf="isLoading" class="w-[200px] h-[40px] bg-gray-200 object-cover mb-2 rounded-md"></div>
            <div *ngIf="isLoading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            <div class="text-center">
                <div class="w-full h-[250px] bg-gray-200 object-cover mb-2 rounded-md"></div>
                <div class="inline-block mx-2 animate-pulse bg-gray-200 w-[100px] h-[26px]"></div>
            </div>
            </div>
            <div *ngIf="!isLoading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="text-center" *ngFor="let p of filterProduct " routerLink="/product/{{p._id}}">
                <img src="{{p.image}}" alt="{{p.name}}" class="w-full h-[250px] object-cover mb-2 rounded-md">
                <h3 class="text-lg font-medium">{{p.name}}</h3>
                <p class="text-lg">{{p.price | currency:'VND':'đ':'1.0-0':'vi'}}</p>
                <div class="flex items-center gap-2 justify-center" *ngIf="p.listPrice">
                    <span>{{p.listPrice[0] | currency:'VND':'đ':'1.0-0':'vi'}}</span>
                    ~
                    <span>{{p.listPrice[2] | currency:'VND':'đ':'1.0-0':'vi'}}</span>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</main>