<!-- code thoi -->
<div class="px-[5%] py-4">
    <h2 class="text-4xl font-medium mb-5 ">Tin tức</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 ">
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-kinhdoanh.vnecdn.net/2024/05/27/441462699-1163236911348052-344-7116-4185-1716793968.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=kHq3liebYAzKgV9CrVtAZw" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Xu hướng kinh doanh theo trend</p>
                <p class="text-gray-500 line-clamp-2">Tuyên bố không tham gia cuộc đua giảm giá, nhưng thực tế Starbucks vẫn ra sức "bơm" khuyến mại để giữ chân người dùng tại thị trường Trung Quốc.</p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-kinhdoanh.vnecdn.net/2024/05/14/2023-09-22t031359z-73408-rc2bd-5453-8983-1715679210.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=YpQHsG_HX19htFRlrIjFVQ" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Trung Quốc không còn là 'mỏ vàng' với phương Tây</p>
                <p class="text-gray-500 line-clamp-2">Các gã khổng lồ như Tesla, Apple, Starbucks hay McDonald’s đều phải hạ giá sản phẩm để trụ vững tại Trung Quốc, khi kinh tế đi xuống và đối thủ nhiều lên.</p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-kinhdoanh.vnecdn.net/2024/01/30/402943387-748932693946566-3306-2945-3603-1706618837.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=4Ddu63jG2zhaY8HosAYyPg" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Techcombank hợp tác Starbucks tối ưu trải nghiệm khách hàng</p>
                <p class="text-gray-500 line-clamp-2">Khách hàng khi thanh toán tại Starbucks Vietnam Vietnam bằng hình thức thanh toán một chạm qua thẻ Techcombank Visa được nhận nhiều ưu đãi.</p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-kinhdoanh.vnecdn.net/2023/11/21/starbucks-china-1700556925-8524-1700557200.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=VmO73611RJDmYbHdF_AP0w" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Starbucks thất thế trong cuộc đua cà phê ở Trung Quốc</p>
                <p class="text-gray-500 line-clamp-2">Chuỗi cửa hàng cà phê Mỹ đã để mất vị trí dẫn đầu trong cuộc đua đáp ứng nhu cầu cà phê ngày càng cao của người Trung Quốc.</p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-dulich.vnecdn.net/2023/01/04/coc-1672803287-1672806172-9876-1672806699.png?w=500&h=300&q=100&dpr=1&fit=crop&s=Lls__YzJhk-BthdLg4NDAg" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Bí mật kích cỡ cốc ở cà phê Starbucks</p>
                <p class="text-gray-500 line-clamp-2">Nếu lần đầu vào một cửa hàng Starbucks, bạn có thể sẽ thắc mắc về kích cỡ đồ uống bởi cách đặt tên gây hiểu nhầm.</p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-kinhdoanh.vnecdn.net/2023/01/03/starbucks-hoi-an-8881-16727399-3550-9623-1672741212.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=xHTllqwhBezjQyQDJK6ktw" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Starbucks dự kiến cán mốc 100 cửa hàng ở Việt Nam năm nay</p>
                <p class="text-gray-500 line-clamp-2">Sau 10 năm thâm nhập thị trường Việt Nam, chuỗi cà phê đến từ Mỹ dự định cán mốc 100 cửa hàng vào quý sau.
                </p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-kinhdoanh.vnecdn.net/2022/09/13/-9502-1663051251.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=DIZP0VEXENJHDSXL5k4-YQ" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Điểm chung trong triết lý hoạt hoạt động của Starbucks Vietnam và MoMo</p>
                <p class="text-gray-500 line-clamp-2">Tăng cường trải nghiệm cho người dùng trong môi trường số là mục tiêu, đồng thời là triết lý chung đằng sau cái bắt tay giữa Starbucks Vietnam và MoMo.
                </p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-vnexpress.vnecdn.net/2022/08/20/32gr42n-highres-1660959066-166-8515-1395-1660959299.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=UEGCEHWd8i6UMMHKrHeomw" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Nga khai trương thương hiệu cà phê thay thế Starbucks</p>
                <p class="text-gray-500 line-clamp-2">Nhà hàng Stars Coffee khai trương ở Moskva, thay thế thương hiệu Starbucks của Mỹ đã rút khỏi thị trường Nga do xung đột Ukraine.
                </p>
            </div>
        </div>
        <div>
            <div class="w-full h-[280px] overflow-hidden rounded-md mb-3">
                <img class="hover:scale-[1.02] transition-all duration-300 w-full h-full object-cover" src="https://i1-giadinh.vnecdn.net/2022/08/06/thumbnail-1659775615-3670-1659776606.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=g2CweWIBdRK1A8itGXT6zA" alt="">
            </div>
            <div>
                <p class="hover:text-[#00754a] line-clamp-3 hover:underline font-semibold text-xl">Starbucks hợp tác Nestlé nâng tầm ly cà phê hòa tan</p>
                <p class="text-gray-500 line-clamp-2">Cà phê hòa tan cao cấp Starbucks, sản phẩm của sự hợp tác Starbucks - Nestlé nhằm nâng tầm thưởng thức cà phê tại nhà được canh tác có trách nhiệm, hạn chế tác động tới môi trường.
                </p>
            </div>
        </div>
    </div>
</div>